<div class="col-12">
    <button pButton pRipple type="button" label="Manage Users" class="p-button-raised p-button-text w-full" (click)="onChange('users')"></button>
</div>

<div class="col-12">
    <button pButton pRipple type="button" label="Manage Roles" class="p-button-raised p-button-text  w-full" (click)="onChange('roles')"></button>
</div>

<div class="col-12">
    <button pButton pRipple type="button" label="Manage Objects" class="p-button-raised p-button-text  w-full" (click)="onChange('objects')"></button>
</div>