.invalid-feedback {
    padding: 5px 5px 5px 5px;
    text-align:center;
    margin-bottom: 4px;
    font-size: 12px;
    border-radius: 5px;
    -moz-transition:all 0.5s ease-in-out;
    -webkit-transition:all 0.5s ease-in-out;
    -o-transition:all 0.5s ease-in-out;
    -ms-transition:all 0.5s ease-in-out;
    transition:all 0.5s ease-in-out;
    -moz-animation:blink normal 1.5s infinite ease-in-out;
    /* Firefox */
    -webkit-animation:blink normal 1.5s infinite ease-in-out;
    /* Webkit */
    -ms-animation:blink normal 1.5s infinite ease-in-out;
    /* IE */
    animation:blink normal 1.5s infinite ease-in-out;
    /* Opera */
}

@keyframes blink {
    0% {
           background-color: rgba(255,215,0)
    }
    50% {
           background-color: rgba(255,165,0)
    }
    100% {
           background-color: rgba(255,140,0)
    }
}
@-webkit-keyframes blink {
    0% {
           background-color:  rgba(255,215,0)
    }
    50% {
           background-color: rgba(255,165,0)
    }
    100% {
           background-color: rgba(255,140,0)
    }
}