$primaryColor:#FF5722;
$primaryLightestColor: #FBE9E7;
$primaryMenuTextColor: #BF360C;
$primaryTextColor:#ffffff;
$accentColor:#22cbff;
$accentTextColor:#212121;

@import '../../sass/theme/theme_light';
