$primaryColor:#673AB7;
$primaryLightestColor: #EDE7F6;
$primaryMenuTextColor: $primaryColor;
$primaryTextColor:#ffffff;
$accentColor:#89b73a;
$accentTextColor:#212121;

@import '../../sass/theme/theme_light';
