$primaryColor:#03A9F4;
$primaryLightestColor: #E1F5FE;
$primaryMenuTextColor: $primaryColor;
$primaryTextColor:#212121;
$accentColor:#f44f03;
$accentTextColor:#ffffff;

@import '../../sass/theme/theme_light';
