$primaryColor:#9C27B0;
$primaryLightestColor: #F3E5F5;
$primaryMenuTextColor: $primaryColor;
$primaryTextColor:#ffffff;
$accentColor:#3cb027;
$accentTextColor:#212121;

@import '../../sass/theme/theme_light';
