$primaryColor:#8BC34A;
$primaryLightestColor: #F1F8E9;
$primaryMenuTextColor: #33691E;
$primaryTextColor:#212121;
$accentColor:#824ac3;
$accentTextColor:#ffffff;

@import '../../sass/theme/theme_light';
