$primaryColor:#FF9800;
$primaryLightestColor: #FFF3E0;
$primaryMenuTextColor: #E65100;
$primaryTextColor:#212121;
$accentColor:#0066ff;
$accentTextColor:#ffffff;

@import '../../sass/theme/theme_light';
