$primaryColor:#795548;
$primaryLightestColor: #EFEBE9;
$primaryMenuTextColor: $primaryColor;
$primaryTextColor:#ffffff;
$accentColor:#486c79;
$accentTextColor:#ffffff;

@import '../../sass/theme/theme_light';
