
<p-card>
    <!-- header -->
    <app-table-header [tableName]="tableName"></app-table-header>

        <!-- filter -->

    <app-table-filters></app-table-filters>

        <!-- table -->

    <p-table [columns]="tableColumns" [value]="tableData">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{!selectedLanguage || selectedLanguage.code === 'en'? col.header : col.header2}}
                </th>
                <th>

                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-rowData let-columns="columns">
            <tr>
                <td *ngFor="let col of columns">
                    {{rowData[col.field]}}
                </td>
                <td>
                    <!-- actions -->

                    <app-table-actions [tableName]="tableName"></app-table-actions>
                </td>
            </tr>
        </ng-template>
    </p-table>

        <!-- footer -->

    <app-table-footer></app-table-footer>
</p-card>
