$primaryColor:#00BCD4;
$primaryLightestColor: #E0F7FA;
$primaryMenuTextColor: #00838F;
$primaryTextColor:#212121;
$accentColor:#d41900;
$accentTextColor:#ffffff;

@import '../../sass/theme/theme_light';
