$primaryColor:#FFEB3B;
$primaryLightestColor: #FFFDE7;
$primaryMenuTextColor: #F57F17;
$primaryTextColor:#212121;
$accentColor:#3b4fff;
$accentTextColor:#ffffff;

@import '../../sass/theme/theme_light';
