<div class="pages-body login-page flex flex-column">
    <div class="topbar p-3 flex justify-content-between flex-row align-items-center">
        <div class="topbar-left ml-3 flex" routerLink="/">
            <p class="topbar-title">
                {{selectedLanguage.name === 'english'? loginPageElements.topbarTitle.label : loginPageElements.topbarTitle.label2}}
            </p>
        </div>
        <div class="topbar-right mr-3 flex">
            <p-dropdown 
            [options]="languageOption" 
            [(ngModel)]="selectedLanguage" 
            optionLabel="name"></p-dropdown>
        </div>
    </div>

    <div class="align-self-center mt-auto mb-auto">
        <form name="form" (ngSubmit)="form.form.valid && onSubmit(form)" #form="ngForm" novalidate>
            <div class="pages-panel card flex flex-column">
                <div class="pages-header px-3 py-1">
                    <h2>{{selectedLanguage.name === 'english'? loginPageElements.title.label : loginPageElements.title.label2}}</h2>
                </div>
    
                <h4>{{selectedLanguage.name === 'english'? loginPageElements.welcomeMessage.label : loginPageElements.welcomeMessage.label2}}</h4>
    
                <div class="pages-detail mb-6 px-6">{{selectedLanguage.name === 'english'? loginPageElements.instructionMessage.label : loginPageElements.instructionMessage.label2}}</div>
    
                <div class="input-panel flex flex-column px-3">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">
                            <i class="pi pi-user"></i>
                        </span>
                        <span class="p-float-label">
                            <input 
                            type="text" 
                            id="username" 
                            #password="ngModel"
                            name="password"
                            [(ngModel)]="loginInfo.username" 
                            pInputText>
                            <label for="username">{{selectedLanguage.name === 'english'? loginPageElements.usernameLabel.label : loginPageElements.usernameLabel.label2}}</label>
                        </span>
                    </div>
    
                    <div class="p-inputgroup mt-3 mb-6">
                        <span class="p-inputgroup-addon">
                            <i class="pi pi-lock"></i>
                        </span>
                        <span class="p-float-label">
                            <input 
                            type="password" 
                            id="password" 
                            #password="ngModel"
                            name="password"
                            [(ngModel)]="loginInfo.password" 
                            pInputText>
                            <label for="password">{{selectedLanguage.name === 'english'? loginPageElements.passwordLabel.label : loginPageElements.passwordLabel.label2}}</label>
                        </span>
                    </div>
    
                </div>

                <div *ngIf="(appStateData$ | async).isLoading" class="mb-6 px-3">
                    <app-loader></app-loader>
                </div>
    
                <p-button 
                class="login-button mb-6 px-3" 
                [label]="selectedLanguage.name === 'english'? loginPageElements.buttonLabel.label : loginPageElements.buttonLabel.label2" type="submit">
                </p-button>

                <div *ngIf="validationMessage" class="invalid-feedback">
                    <div *ngIf="validationMessage">{{validationMessage}}</div>
                </div>
    
            </div>
        </form>

    </div>
</div>
