<p-toast position="top-center"></p-toast>

<div class="pages-body login-page flex flex-column">
    <div class="align-self-center mt-auto mb-auto">
        <form name="form" (ngSubmit)="form.form.valid && onSubmit(form)" #form="ngForm" novalidate>
            <div class="pages-panel card flex flex-column">
                <div class="pages-header px-3 py-1 bg-primary">
                    <h2>User Authentication</h2>
                </div>
                <h4>Welcome</h4>
                <div class="pages-detail mb-4 px-6">Please use the form to sign-in the network</div>
                <div class="input-panel flex flex-column px-3">
                    <div class="p-inputgroup">
                        <span class="p-inputgroup-addon">
                            <i class="pi pi-user"></i>
                        </span>
                        <span class="p-float-label">
                            <input type="text" id="username" 
                            #username="ngModel"
                            name="username" [(ngModel)]="loginInfo.username"
                            pInputText 
                            required>
                            <label for="username">Username</label>
                        </span>
                    </div>
                    <div *ngIf="form.submitted && username.invalid" class="invalid-feedback">
                        <div *ngIf="username.errors.required">Username is required</div>
                    </div>
                    <div class="p-inputgroup mt-3">
                        <span class="p-inputgroup-addon">
                            <i class="pi pi-lock"></i>
                        </span>
                        <span class="p-float-label">
                            <input type="password" id="password" 
                            #password="ngModel"
                            name="password" [(ngModel)]="loginInfo.password"
                            pInputText 
                            required>
                            <label for="password">Password</label>
                        </span>
                    </div>
                    <div *ngIf="form.submitted && password.invalid" class="invalid-feedback">
                        <div *ngIf="password.errors.required">Password is required</div>
                    </div>

                </div>

                <p-button 
                *ngIf="loginInfo.username !== 'proxify'"
                type="submit" 
                [class]="routeInfo && routeInfo.accessType !== '1'? 'p-ripple p-button-raised login-button mb-6 px-3' : 'p-ripple p-button-raised login-button mb-6 px-3 mt-6'" 
                label="LOGIN">
                </p-button>

                <div *ngIf="validationMessage" class="invalid-feedback">
                    <div *ngIf="validationMessage">{{validationMessage}}</div>
                </div>
            </div>
        </form>
    </div>
</div>
