$primaryColor:#FFB300;
$primaryLightestColor: #FFF8E1;
$primaryMenuTextColor: #FF6F00;
$primaryTextColor:#212121;
$accentColor:#0745ff;
$accentTextColor:#ffffff;

@import '../../sass/theme/theme_light';
