$primaryColor:#E91E63;
$primaryLightestColor: #FCE4EC;
$primaryMenuTextColor: $primaryColor;
$primaryTextColor:#ffffff;
$accentColor:#1ee9a5;
$accentTextColor:#212121;

@import '../../sass/theme/theme_light';
